# Node artifacts
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build output
dist/
build/

# Docker and deployment
nginx/certs/

# OS files
.DS_Store
